footer{
    background-color: #370e06;
    box-shadow: 2px 2px 5px rgb(182, 182, 182);
    margin-top: 80px;
}

.divFooter{
    margin: auto;
    min-width: 400px;
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;

}

.secFooter{
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec1{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.ulFooter{
    list-style:disc;
    margin: 0%;
    padding-left: 30px;
}

.ulFooter,.liFooter{
    color: white;
}

.a_listaFooter{
    color: white;
    text-decoration: none;
}

.a_listaFooter:hover{
    color: rgb(153, 153, 153);
    text-decoration: none;
}

.text_footer{
    color: white;
    text-align: center;
}